name: Node CI
on:
  push:
    branches:
      - '**'
    tags:
      - 'v**'
  workflow_dispatch:

jobs:
  run-yarn-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: yarn install
        run: yarn install --check-files --frozen-lockfile

      - name: yarn validate:dependencies
        run: yarn validate:dependencies

      - name: yarn build
        run: yarn build

      - name: yarn unit test 
        run: yarn unit

      - name: yarn install production
        run: yarn install --check-files --frozen-lockfile --production --force

      - uses: actions/upload-artifact@main
        with:
          name: dist artifacts
          path: dist

  npm-release:
    runs-on: ubuntu-latest
    needs: [run-yarn-build]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}